GGVolt.sln.DotSettings.user
dotnet-tools.json
.idea
Images

GGVolt.Client/obj
GGVolt.Client/bin
GGVolt.Client/app.manifest

GGVolt.Core/obj
GGVolt.Core/bin
GGVolt.Core/Class1.cs

GGVolt.Infrastructure/bin
GGVolt.Infrastructure/obj
GGVolt.Infrastructure/Migrations
GGVolt.Infrastructure/Class1.cs

GGVolt.Server/obj
GGVolt.Server/bin
